@page "/people/create"
@inject IPeopleRepository peopleRepository
@inject NavigationManager navigationManager

<h3>CreatePeople</h3>

<PeopleForm 
            person="Person" OnValidSubmit="Create"/>

@code {

    Person Person = new Person();

    private async Task Create()
    {
        Console.WriteLine($"Creating a new Person record for {Person.Name} who was born on {Person.DateOfBirth}");
        try
        {
            await peopleRepository.CreatePerson(Person);
            navigationManager.NavigateTo("people");
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.Message);
        }

    }


}
