@page  "/people/edit/{PersonId:int}"
@inject NavigationManager navigationManager
@inject IPeopleRepository peopleRepository
<h3>Edit People</h3>

@if (Person != null)
{
    <PeopleForm person="Person" OnValidSubmit="Edit" />
}


@code {

    [Parameter]
    public int PersonId { get; set; }

    Person Person;

    protected async override Task OnInitializedAsync()
    {

        Person = await peopleRepository.GetPerson(PersonId);

    }

    private async Task Edit()
    {
        try
        {
            await peopleRepository.UpdatePerson(PersonId, Person);
            navigationManager.NavigateTo("people");
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.Message);
        }
    }
}
