@page  "/people/edit/{PersonId:int}"
@inject NavigationManager navigationManager
@inject IPeopleRepository peopleRepository
<h3>Edit People</h3>

@if (Person != null)
{

    <PeopleForm person="Person" OnValidSubmit="Edit" />


}


@code {


    [Parameter]
    public int PersonId { get; set; }

    [Parameter]
    public string PersonName { get; set; }

    Person Person = new Person();


    protected async override Task OnInitializedAsync()
    {
        try
        {
            Person = await peopleRepository.GetPerson(PersonId);
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.Message);
        }

    }


    private async Task Edit()
    {
        Console.WriteLine("starting edit");
        await peopleRepository.UpdatePerson(PersonId, Person);
        Console.WriteLine("db updated");
        navigationManager.NavigateTo("people");

    }


}
