@page "/"
@inject IRepository repository
@inject NavigationManager navigationManager
@inject IMoviesRepository moviesRepository

<div>

    <div class="container d-block  mb-2">
        <h3 class="d-inline">Movies</h3>
        <a class="btn btn-primary float-right" href="/movies/create"> Create </a>
    </div>
    <div class="container">
        <MoviesList Movies="movies1"></MoviesList>

    </div>

</div>


@code{

    private List<Movie> movies1;
    protected  override async Task OnInitializedAsync()
    {


        movies1 = await moviesRepository.GetMovies();

    }


}
