    @page "/genre/create"
    @inject IGenresRepository genreRepository
    @inject NavigationManager navigationManager


    <h3>CreateGenres</h3>

    <GenreForm Genre="genre" OnValidSubmit="Create"/>


    @code {
        private Genre genre = new Genre();

        private async Task Create()
        {
            Console.WriteLine(genre.Name +"has been added using a razor component.");
            try
            {
                await genreRepository.CreateGenre(genre);
                navigationManager.NavigateTo("genre");

            }

            catch(Exception ex)
            {
            Console.WriteLine(ex.Message);
            }

        }

    }
