@page "/genre/edit/{GenreId:int}"
@inject NavigationManager navigationManager
@inject IGenresRepository genreRepository

<h3>Edit Genre</h3>

@if (genre != null)
{

    <GenreForm Genre="genre" OnValidSubmit="Edit" />

}




@code {

    [Parameter]
    public int GenreId { get; set; }
    public Genre genre;


    protected override async Task OnInitializedAsync()
    {
        try
        {
            genre = await genreRepository.GetGenre(GenreId);
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.Message);
        }
    }


    private void Edit()
    {
        
        genreRepository.UpdateGenre(GenreId, genre);
        navigationManager.NavigateTo("genre");

    }

}
